/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/cursor.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.custom-cursor {
  display: block;
  position: fixed;
  z-index: 10000;
  pointer-events: none;
  cursor: none;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  /* left: 0%; 
  top: 0%;  */
  transform: translate(-50%, -50%); 
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  
  /* &:before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  } */
}
